/****** HEADER - NAV ******/

.logo {
    max-width: 8rem;
}

.nav-setting {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navLinkH{
    transition: 0.2s;
}

.navLinkH:hover{
    color: $colorHooverTexto;
}
