* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuentePrincipal;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

/****** BODY SETTINGS ******/

body {
    background-color: $colorPrincipal;
}

.main{
    min-height: 100vh;
}